{
  "parser": "@typescript-eslint/parser",
  "extends": "airbnb",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "camelcase": 0,
    "consistent-return": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/order": ["error", {
        "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
        },
        "groups": ["builtin", "external", "internal"]
    }],
    "jsx-quotes": ["error", "prefer-single"],
    "no-underscore-dangle": 0,
    "no-unused-vars": ["off"],
    "@typescript-eslint/no-unused-vars": [
        "error",
        {
            "vars": "all",
            "args": "after-used",
            "ignoreRestSiblings": true
        }
    ]
  },
  "settings": {
    "import/parsers": {
        "@typescript-eslint/parser": [
            ".ts"
        ]
    },
    "import/resolver": {
        "node": {
            "paths": [ "cypress" ],
            "extensions": [
                ".js",
                ".ts"
            ]
        }
    }
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "context": false,
    "cy": false,
    "Cypress": false,
    "describe": false,
    "it": false,
    "specify": false
  }
}